@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:400|Frijole:400|Hanalei+Fill:400|Kavoon:400|Kenia:400|Rubik:700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding: 0px;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        background: #9a9a9a;
    }
    100% {
        opacity: 1;
        
     }
     
}
html,
body {
  margin: 0px;
  height: 100%;
  background-color: #003566;
 animation: fadeInAnimation ease-in-out 1.5s;
    animation-iteration-count: 1;
    
    scroll-behavior: smooth;
    animation-fill-mode:forwards;
}
.bg-cms {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.navbar{
    height: 50px;
    text-align: end;
font-family: rubik;
font-size: 10px;
    
}

.navbar.sticky {
    
    background: #000;
    padding: 10px 50px;
}
.navbar a{
    position: relative;
    color:white;
    margin: 25px;
    overflow: hidden;
    top:20px;
    right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 99999;
    padding-bottom: 2px;
    transition: color 0.3s ease;
    
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}
.navbar a:hover {
    color: #ffffff;
}

.navbar a:hover::after {
    width: 100%;
}
.navbar2{
    
    text-align: center;
    font-family: rubik;
    display: none;
    font-size: 10px;
}

.navbar2.sticky {
   
    background: #000;
    padding: 10px 50px;
}
.navbar2 a{
    position: relative;
   
    color:white;
    margin: 25px;
    overflow: hidden;
    top:20px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 99999;
    padding-bottom: 2px;
    
}

.navbar2 a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}
.navbar2 a:hover {
    color: #ffffff;
}

.navbar2 a:hover::after {
    width: 100%;
}
.fixed {
    position: fixed;
    top: 0;
    z-index: 99999;
    background-color: #1d1d1d;
    width: 100%;
}
.content{
    text-align:center ;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    height: 675px;
}
.content img{
    height: 400px;
    z-index: 1;
}
.social-media{
    position: relative;
    top:5em;
    margin:5px;
   
}
.social-media svg{
    fill:#ffff;
    transition: opacity 0.3s ease, filter 0.3s ease, padding 0.3s ease;
}
.social-media svg:hover{
    opacity: 90%;
    fill:#e0e0e0;
    filter: blur(.2px);
    transition: .3s;
    padding: 2px;
    
}
.content-text h3{
    font-size: 32px;
    font-family: Frijole;
    color:white
}
.content-text span{
    font-family: Hanalei fill;
    font-size: 36px;
    color:white;
}
article{
    position: relative;
    top:50px;
    
}
.about{
    position: relative;   
    margin:auto;
    width: 80%;
    background: #000814;
    border-radius: 35px;
    display: flex;
}
.text-about{
    margin:50px;
    text-align: center;
    
    
}
.text-about img{
    height: 250px;

}
.text-about h2{
    font-family: kavoon;
    color:white;
}
.text-about2{
    
    position: relative;
    right: 50px;
    top: 50px;
    height: 272px;
    
}
.text-about2 p{
    color:white;
    position: relative;
    top:10%;
   font-family: kenia;
 
}
@media screen and (max-width: 1000px) {
    .text-about2{
        overflow:initial;
        font-size:12px;
        position: relative;
        left: 10%;
        top:0px;
        width: 80%;
    }
    .about{
    
        display: block;
         height: 600px;
     }
  }
  @media screen and (max-width: 800px) {
    .content img{
        height: 200px;
    }
    .content-text h3{
        font-size: 16px;
        
    }
    .content-text span{
       
        font-size: 18px;
       
    } 
    .navbar{
        display: none;
    }
    .navbar2{
        display: block;
        height: 150px;
        background-color: #1d1d1d;
        position: relative;
        margin-top:50px;
    }
    .navbar-btn{
        z-index: 999;
    }
    .iletisim div{
        display: block;
        margin-bottom: 50px;
    }
    .form form{
        padding: 0px;
    }
    .iletisim-about{
        text-align: center;
        
    }
    .iletisim-about p , .iletisim-about h2{
        font-size:10px
    }
    .form label{
        font-size:10px
    }
    .text-sertifika{
        font-size:7px
    }
    .sertifika h2{
        font-size:10px
    }
  }
  @media screen and (max-width: 600px) {
    .text-about img{
        height: 175px;
    }
    
  }

.btn{
    z-index: 2;
}
.sertifika{
    position: relative;
    margin:auto;
    top:50px;
    height: 500px;
    width:70%;
    text-align: center; 
    font-family: rubik;
    color:white;
}
.sertifika h2{
   
    
    text-shadow: #011427 2px 2px;
}
.texts-sertifika{
    
    position: relative;
    top:20px;
    text-align: center;
}
.text-sertifika svg{

    margin:25px 7px 0px
}
.iletisim{
   
    background: #000814;
    width: 80%;
    padding: 15px;
    position: relative;
    margin: auto;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}
.iletisim h4{
font-family: rubik;
    color:white;
    border-bottom:3px solid black;
    width: 100px;
     text-align: center;
     margin:auto;
}
footer{

background: #1A1A1A;
color:white;
    height: 200px;
    text-align: center;
}
footer p{
    font-family: rubik;
    font-size: 11px;
}
.footer{
    position: relative;
    margin: auto;
    top:50%;
}

.social-media-footer{
    position: relative;
    margin:25px;
   
}
.social-media-footer svg{
    fill:#ffff;
    transition: opacity 0.3s ease, filter 0.3s ease, padding 0.3s ease;
}
.social-media-footer svg:hover{
    opacity: 90%;
    fill:#e0e0e0;
    filter: blur(.2px);
    transition: .3s;
    padding: 2px;
    
}
  .iletisim-about {
    padding: 20px;
    color:white;
    font-family:rubik ;
  }
  .iletisim-about p ,.iletisim-about h2{
    margin:10px;
  }
  .iletisim-container{
    display: flex;
  }

  .form form {
    max-width: 400px;
    margin: auto;
    color: #fff;
    position: relative;
    right: 0px;
    font-family: rubik;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form label {
    margin-bottom: 8px;
  }

  .form input, .form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
